

.ToDo {
    text-align: center;
    max-width: 300px;
    margin: 20px auto;
  }
  
  input {
    padding: 4px;
    margin-right: 8px;
  }
  
  
  ul {
    list-style: none;
  }
  
  li {
    margin: 12px 0;
  }
  
  .deleteButton {
    font-size: 10px;
    margin-left: 9px;
  
    border: none;
    border-radius: 5px;
  }
  