/*html, body {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(0, 3, 162);
  height: 100%;
  font-family: 'BitFont';
  color: antiquewhite;
}

.Headshot {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 15px;
  text-decoration: underline;
  margin-left: 5PX;
  margin-right: 5PX;
}

h3 {
  font-size: 10px;
}

.title {
  font-size: 20px;
}

.projectsbar {
  position: sticky;
  top: 0;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  overflow: scroll;
  font-size: 20px;
  background-color: rgb(3, 6, 179);
  z-index: 100;
}

.subject {
  color: antiquewhite;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subject:hover {
  text-decoration-line: underline;
}

.contactBox {
  width: 50%;
  border: 2px solid;
  border-radius: 25px;
  font-size: 10px;
  padding: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.aboutMe {
  margin-top: 50px;
}

button {
  margin-top: 5px;
}

.cv {
  margin-top: 50px;
}

.container {
  padding-top: 30px;
}

.counter {
  border: 2px solid antiquewhite;
  border-radius: 10px;
  height: min-content;
}

.counterbutton {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}


.ToDoDiv {
  margin-top: 5px;
  border: 2px solid antiquewhite;
  border-radius: 10px;
  height: min-content;
}

.react-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  list-style: none;
}

.guess {
  border: 2px solid antiquewhite;
  border-radius: 10px;
  height: min-content;
}
*/
 .App{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
}

 .Headshot {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.container {
  text-align: center;
}

.navbar {
  position: sticky;
  top: 0;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  overflow: scroll;
  z-index: 100;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
}

.subject {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline: 10px;
  color:black;
}

.subject:hover {
  text-decoration-line: line-through;
}

.projectcontainer {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}


